@use "../_sg78/sg78_mixins" as sg78;

$opFonts: (
	// See: https://github.com/argyleink/open-props/blob/main/src/props.fonts.css
	op:
		(
			font: (
				sans:
					"system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif",
				serif: "ui-serif,serif",
				mono:
					"Dank Mono,Operator Mono,Inconsolata,Fira Mono,ui-monospace,SF Mono,Monaco,Droid Sans Mono,Source Code Pro,monospace",

				weight: (
					1: 100,
					2: 200,
					3: 300,
					4: 400,
					5: 500,
					6: 600,
					7: 700,
					8: 800,
					9: 900,
				),
				lineheight: (
					"00": 0.95,
					0: 1.1,
					1: 1.25,
					2: 1.375,
					3: 1.5,
					4: 1.75,
					5: 2,
				),
				letterspacing: (
					0: -0.05em,
					1: 0.025em,
					2: 0.05em,
					3: 0.075em,
					4: 0.15em,
					5: 0.5em,
					6: 0.75em,
					7: 1em,
				),
				size: (
					"00": 0.5rem,
					0: 0.75rem,
					1: 1rem,
					2: 1.1rem,
					3: 1.25rem,
					4: 1.5rem,
					5: 2rem,
					6: 2.5rem,
					7: 3rem,
					8: 3.5rem,
					fluid: (
						"00": clamp(0.5rem, 1vw, 0.75rem),
						0: clamp(0.75rem, 2vw, 1rem),
						1: clamp(1rem, 4vw, 1.5rem),
						2: clamp(1.5rem, 6vw, 2.5rem),
						3: clamp(2rem, 9vw, 3.5rem),
					),
				),
			),
		)
);

$opSizes: (
	// See: https://github.com/argyleink/open-props/blob/main/src/props.sizes.css
	op:
		(
			size: (
				"000": -0.5rem,
				"00": -0.25rem,
				1: 0.25rem,
				2: 0.5rem,
				3: 1rem,
				4: 1.25rem,
				5: 1.5rem,
				6: 1.75rem,
				7: 2rem,
				8: 3rem,
				9: 4rem,
				10: 5rem,
				11: 7.5rem,
				12: 10rem,
				13: 15rem,
				14: 20rem,
				15: 30rem,
				fluid: (
					1: clamp(0.5rem, 1vw, 1rem),
					2: clamp(1rem, 2vw, 1.5rem),
					3: clamp(1.5rem, 3vw, 2rem),
					4: clamp(2rem, 4vw, 3rem),
					5: clamp(4rem, 5vw, 5rem),
					6: clamp(5rem, 7vw, 7.5rem),
					7: clamp(7.5rem, 10vw, 10rem),
					8: clamp(10rem, 20vw, 15rem),
					9: clamp(15rem, 30vw, 20rem),
					10: clamp(20rem, 40vw, 30rem),
				),
				content: (
					1: 20ch,
					2: 45ch,
					3: 60ch,
				),
				header: (
					1: 20ch,
					2: 25ch,
					3: 35ch,
				),
				xxs: 240px,
				xs: 360px,
				sm: 480px,
				md: 768px,
				lg: 1024px,
				xl: 1440px,
				xxl: 1920px,
			),
		)
);

$opColors: (
	//See: https://github.com/argyleink/open-props/blob/main/src/props.colors.css
	op: (
		color: (
			black: (
				0: shsl(0, 0%, 0%),
			),
			white: (
				0: shsl(0, 0%, 100%),
			),			
			grey: (
				0: shsl(210, 17%, 98%),
				1: shsl(210, 17%, 95%),
				2: shsl(210, 16%, 93%),
				3: shsl(210, 14%, 89%),
				4: shsl(210, 14%, 83%),
				5: shsl(210, 11%, 71%),
				6: shsl(210, 7%, 56%),
				7: shsl(210, 9%, 31%),
				8: shsl(210, 10%, 23%),
				9: shsl(210, 11%, 15%),
			),
			red: (
				0: shsl(0, 100%, 98%),
				1: shsl(0, 100%, 95%),
				2: shsl(0, 100%, 89%),
				3: shsl(0, 100%, 83%),
				4: shsl(0, 100%, 76%),
				5: shsl(0, 100%, 71%),
				6: shsl(0, 94%, 65%),
				7: shsl(0, 86%, 59%),
				8: shsl(0, 74%, 54%),
				9: shsl(0, 65%, 48%),
			),
			pink: (
				0: shsl(336, 100%, 97%),
				1: shsl(336, 100%, 94%),
				2: shsl(338, 91%, 87%),
				3: shsl(339, 90%, 81%),
				4: shsl(339, 88%, 74%),
				5: shsl(339, 82%, 67%),
				6: shsl(339, 76%, 59%),
				7: shsl(339, 67%, 52%),
				8: shsl(339, 68%, 45%),
				9: shsl(339, 69%, 38%),
			),
			grape: (
				0: shsl(280, 67%, 96%),
				1: shsl(287, 77%, 92%),
				2: shsl(288, 86%, 86%),
				3: shsl(289, 85%, 78%),
				4: shsl(288, 83%, 71%),
				5: shsl(288, 75%, 64%),
				6: shsl(288, 67%, 58%),
				7: shsl(288, 56%, 52%),
				8: shsl(288, 54%, 46%),
				9: shsl(288, 54%, 40%),
			),
			violet: (
				0: shsl(252, 100%, 97%),
				1: shsl(257, 100%, 93%),
				2: shsl(256, 100%, 87%),
				3: shsl(255, 94%, 79%),
				4: shsl(255, 93%, 72%),
				5: shsl(255, 91%, 67%),
				6: shsl(255, 86%, 63%),
				7: shsl(255, 78%, 60%),
				8: shsl(255, 67%, 55%),
				9: shsl(255, 53%, 50%),
			),
			indiglo: (
				0: shsl(223, 100%, 96%),
				1: shsl(225, 100%, 93%),
				2: shsl(228, 100%, 86%),
				3: shsl(228, 100%, 78%),
				4: shsl(228, 96%, 72%),
				5: shsl(228, 94%, 67%),
				6: shsl(228, 89%, 63%),
				7: shsl(228, 81%, 59%),
				8: shsl(228, 69%, 55%),
				9: shsl(230, 57%, 50%),
			),
			blue: (
				0: shsl(205, 100%, 95%),
				1: shsl(206, 100%, 91%),
				2: shsl(206, 100%, 82%),
				3: shsl(206, 96%, 72%),
				4: shsl(207, 91%, 64%),
				5: shsl(207, 86%, 57%),
				6: shsl(208, 80%, 52%),
				7: shsl(208, 77%, 47%),
				8: shsl(209, 77%, 43%),
				9: shsl(209, 75%, 38%),
			),			
			cyan: (
				0: shsl(185, 81%, 94%),
				1: shsl(185, 84%, 88%),
				2: shsl(186, 77%, 77%),
				3: shsl(187, 74%, 65%),
				4: shsl(187, 69%, 55%),
				5: shsl(188, 72%, 47%),
				6: shsl(187, 80%, 42%),
				7: shsl(188, 83%, 37%),
				8: shsl(189, 85%, 32%),
				9: shsl(189, 85%, 28%),
			),			
			teal: (
				0: shsl(161, 79%, 95%),
				1: shsl(160, 85%, 87%),
				2: shsl(162, 78%, 77%),
				3: shsl(162, 72%, 65%),
				4: shsl(162, 68%, 54%),
				5: shsl(162, 73%, 46%),
				6: shsl(162, 82%, 40%),
				7: shsl(162, 87%, 35%),
				8: shsl(162, 88%, 30%),
				9: shsl(162, 88%, 26%),
			),
			green: (
				0: shsl(131, 67%, 95%),
				1: shsl(128, 76%, 90%),
				2: shsl(128, 71%, 82%),
				3: shsl(129, 68%, 73%),
				4: shsl(130, 61%, 64%),
				5: shsl(130, 57%, 56%),
				6: shsl(131, 50%, 50%),
				7: shsl(131, 53%, 46%),
				8: shsl(131, 54%, 40%),
				9: shsl(132, 52%, 35%),
			),
			lime: (
				0: shsl(79, 81%, 94%),
				1: shsl(80, 83%, 88%),
				2: shsl(81, 81%, 80%),
				3: shsl(82, 75%, 69%),
				4: shsl(83, 73%, 59%),
				5: shsl(84, 69%, 51%),
				6: shsl(85, 74%, 45%),
				7: shsl(85, 79%, 40%),
				8: shsl(86, 84%, 36%),
				9: shsl(85, 84%, 32%),
			),
			yellow: (
				0: shsl(50, 100%, 93%),
				1: shsl(49, 100%, 87%),
				2: shsl(49, 100%, 80%),
				3: shsl(48, 100%, 70%),
				4: shsl(47, 100%, 62%),
				5: shsl(45, 97%, 54%),
				6: shsl(42, 96%, 50%),
				7: shsl(39, 100%, 48%),
				8: shsl(35, 100%, 47%),
				9: shsl(31, 100%, 45%),
			),
			orange: (
				0: shsl(34, 100%, 95%),
				1: shsl(33, 100%, 90%),
				2: shsl(33, 100%, 83%),
				3: shsl(32, 100%, 74%),
				4: shsl(31, 100%, 65%),
				5: shsl(29, 100%, 58%),
				6: shsl(27, 98%, 54%),
				7: shsl(24, 94%, 50%),
				8: shsl(21, 90%, 48%),
				9: shsl(17, 87%, 45%),
			),
		),
	),
);
$opZIndex: (
	// See: https://github.com/argyleink/open-props/blob/main/src/props.zindex.css
	op:
		(
			layer: (
				1: 1,
				2: 2,
				3: 3,
				4: 4,
				5: 5,
				important: 2147483647,
			),
		)
);

:where(html) {
	@include sg78.cssPropertiesFromSassMap($opFonts);
	@include sg78.cssPropertiesFromSassMap($opSizes);
	@include sg78.cssPropertiesFromSassMap($opColors);
	@include sg78.cssPropertiesFromSassMap($opZIndex);
}
