@use "../../../_cfg/cfg_mixins" as cfg;
@use "../../../_sg78/sg78_mixins" as sg78;
@use "../../../abstracts/nns_functions" as *;

$globalPropsAssets: (
	core: (
		assets: (
			logo: url(./../assets/img/logo.png),
		),
	),
);

$globalPropsColors: (
	core: (
		colors: (
			rule: (
				60: shsl(0, 0%, 96%),
				30: shsl(0, 0%, 19%),
				10: shsl(209, 42%, 38%),
			),
			brand: (
				1: shsl(209, 42%, 38%),
			),
			color: (
				1: var(--core-colors-rule-60),
				2: var(--core-colors-rule-30),
				3: var(--core-colors-rule-10),
			),
		),
	),
);

$globalPropsVendors: (
	core: (
		vendors: (
			toast: (
				background-image: url("./../assets/img/logo.png"),
				colors: (
					bg: var(--core-colors-color-2),
					fg: var(--core-colors-color-1),
					progress: var(--core-colors-brand-1),
					close: var(--core-colors-color-1),
				),
				border: (
					width: 0px,
					style: none,
					color: transparent,
					radius: 0.5em,
				),
			),
		),
	),
);

[sg78-brand-option] {
	@include cfg.setCssPropertyConfigOptionDescription("brand", "Global");

	&:where(html) {
		@include sg78.cssPropertiesFromSassMap($globalPropsAssets);		
		@include sg78.cssPropertiesFromSassMap($globalPropsColors);
		@include sg78.cssPropertiesFromSassMap($globalPropsVendors);
	}
}
