@use "../../../abstracts/mixins";

[sg78-brand-option="1"] {
	@include mixins.bemAnchor("cta") {
		--_color-font: var(--core-colors-color-2);
		--_color-underline: var(--core-colors-color-2);

		color: var(--_color-font);

		background-image: linear-gradient(
			to right,
			var(--_color-underline) 0%,
			var(--_color-underline) 100%
		);
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: 0% 2px;
		transition: background-size 0.55s cubic-bezier(0.2, 0.75, 0.5, 1),
			color 0.5s ease;

		@include mixins.hover {
			background-size: 100% 2px;
			opacity: 1;
		}
	}
	@include mixins.bemAnchor("cta", "header") {
		--_color-font: var(--core-colors-color-2);
		--_color-underline: var(--core-colors-color-3);
	}
	@include mixins.bemAnchor("cta", "footer") {
		--_color-font: var(--core-colors-color-1);
		--_color-underline: var(--core-colors-color-1);
	}
}
