@use "../_sg78/sg78_variables" as sg78;
@use "../abstracts/functions";

/* This is used to build/ouptut CSS properties based on SASS map. */
@mixin cssPropertiesFromSassMap($map, $names: ()) {
	@if (type-of($map) == map) {
		@each $key in map-keys($map) {
			$names: append($names, $key);
			$node: map-get($map, $key);

			@if (type-of($node) == map) {
				@include cssPropertiesFromSassMap($node, $names);
			} @else {
				$cssPropertyName: "-";
				@each $name in $names {
					$cssPropertyName: $cssPropertyName + "-" + $name;
				}
				$cssPropertyValue: $node;
				#{$cssPropertyName}: #{$cssPropertyValue};

				@if index(sg78.$cssCustomProperties, #{$cssPropertyName}) == null
				{
					sg78.$cssCustomProperties: append(sg78.$cssCustomProperties, #{$cssPropertyName});
				}
			}

			@if (length($names) > 0) {
				$names: functions.remove-nth($names, length($names));
			}
		}
		@if (length($names) > 0) {
			$names: functions.remove-nth($names, length($names));
		}
	}
}

@mixin svar($name, $value) {
	@if ($name and $value) {
		@if index(sg78.$cssCustomProperties, $name) == null {
			sg78.$cssCustomProperties: append(sg78.$cssCustomProperties, #{$name});
		}
		#{$name}: #{$value};	
	}
}
