@use "../abstracts/nns_functions" as *;
@use "../_sg78/sg78_mixins" as *;
@use "../abstracts/mixins";

// Z-Indexes
.progress {
	z-index: svar(--op-layer-important);
}
.container__logo {
	z-index: calc(svar(--op-layer-important) - 100);
}
.container__menu--outer {
	z-index: calc(svar(--op-layer-important) - 200);
}
.bg-day {
	z-index: calc(svar(--op-layer-important) - 300);
}

.progress {
	position: fixed;
	inset: 0 0 auto;
	width: 0%;
	height: 0.25rem;
	transform-origin: left;
	//background-color: hsla(78, 90%, 57%, 78%);
	background-color: #9c2b2b;
}

.bg-day {
	//background-color: hsl(164, 100%, 93%);
	background-color: hsl(201, 54%, 69%);
	width: 100%;
	height: 50px;
	position: absolute;
}

.container__logo--outer {
	&[sg78-layout-option="1"] {
		position: relative;

		.container__logo {
			position: fixed;
		}
	}
	&[sg78-layout-option="2"] {
		max-width: svar(--core-size-header-max);
		width: 100%;
		height: 100%;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);

		.container__logo {
			position: absolute;
		}
	}
}
.container__logo {
	cursor: pointer;
	//touch-action: manipulation;
	width: 4rem;
	isolation: isolate;
	position: fixed;
	@include mixins.logicalSpacing(0, 0, 0, 0);

	.container__hamburger {
		position: absolute;
		inset: 0;
		z-index: 1;

		display: grid;
		place-items: center;

		width: 42%;
		height: 32%;
		transform-origin: 144% -14%;
		transform: rotate(-30deg) skew(30deg);

		hamburger {
			display: grid;
			grid-template-areas: "top" "middle" "bottom";
			place-items: center;
			gap: 15%;
			width: 100%;
			height: 100%;
			position: relative;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.5s ease-in-out;
			-moz-transition: 0.5s ease-in-out;
			-o-transition: 0.5s ease-in-out;
			transition: 0.5s ease-in-out;
			overflow: hidden;

			patty {
				position: relative;
				display: inline-block;
				background: #9c2b2b;
				border-radius: 0px;
				transition: 0.25s ease-in-out;

				&:nth-child(1) {
					grid-area: top;
				}
				&:nth-child(2),
				&:nth-child(3) {
					grid-area: middle;
				}
				&:nth-child(4) {
					grid-area: bottom;
				}
			}
		}
	}

	.logo {
		position: relative;
		z-index: 0;
		inset: 0;
		width: 100%;

		&__cube {
			&-container {
				fill: #f2f2f2;
				stroke: #404040;
				stroke-width: 0.26458;
			}
			&-panel {
				&--x {
					fill: #b2b2b2;
				}
				&--n {
					fill: #808080;
				}
				&--d {
					fill: #ccc;
				}
			}
			&-letter {
				&--x {
					opacity: 0;
					fill: #9c2b2b;
				}
				&--n {
					fill: #f2f2f2;
				}
				&--d {
					fill: #fff;
				}
			}
		}
	}
}
/*@media only screen and (max-width: 428px) {
	.container__logo {
		patty {
			width: 100%;
			height: 100%;
			opacity: 1;
			transform: rotate(0deg);
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				patty {
					&:nth-child(1) {							
						height: 0%;
						bottom: 0;
						opacity: 0;
					}
					&:nth-child(2) {
						transform: rotate(0deg);
					}
					&:nth-child(3) {
						transform: rotate(-90deg);
					}
					&:nth-child(4) {
						height: 0%;	
						top: 0;
						opacity: 0;
					}
				}
			}
		}
	}
}*/

//@media only screen and (min-width: 429px) {
.container__logo {
	patty {
		&:nth-child(1) {
			height: 0%;
			opacity: 0;
		}
		&:nth-child(2) {
			width: 100%;
			height: 100%;
			transform: rotate(0deg);
		}
		&:nth-child(3) {
			width: 100%;
			height: 100%;
			transform: rotate(-90deg);
		}
		&:nth-child(4) {
			height: 0%;
			opacity: 0;
		}
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			patty {
				width: 100%;
				height: 100%;
				opacity: 1;
				transform: rotate(0deg);
			}
		}
	}
}
.menu--show {
	.container__logo {
		patty {
			width: 100%;
			height: 100%;
			opacity: 1;
			transform: rotate(0deg);
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				patty {
					&:nth-child(1) {
						height: 0%;
						opacity: 0;
					}
					&:nth-child(2) {
						width: 100%;
						height: 100%;
						transform: rotate(0deg);
					}
					&:nth-child(3) {
						width: 100%;
						height: 100%;
						transform: rotate(-90deg);
					}
					&:nth-child(4) {
						height: 0%;
						opacity: 0;
					}
				}
			}
		}
	}
}
//}

.container__menu {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    
    background-color: grey;

    -webkit-mask-image: url(../../assets/img/menu-mask.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    
    mask-image: url(../../assets/img/menu-mask.svg);
    mask-repeat: no-repeat;    
    mask-position: center center;    

}

/*[sg78-logo-menu][sg78-logo-menu-pulse="false"] {
    filter: drop-shadow(4px 4px 5px rgb(0 0 0 / 0.4));
}
@keyframes pulse-animation {
	0% {
		filter: drop-shadow(4px 4px 2px rgb(0 0 0 / 0.4));
	}
	50% {
		filter: drop-shadow(4px 4px 5px rgb(0 0 0 / 0.4));
	}
	100% {
		filter: drop-shadow(4px 4px 2px rgb(0 0 0 / 0.4));
	}
}
[sg78-logo-menu-pulse="true"] {
    animation: pulse-animation 2s infinite;
}*/