@use "../abstracts/nns_functions" as *;
@use "../_sg78/sg78_mixins" as *;

.grid__area--header {
	position: sticky;
	top: 0;
	z-index: calc(svar(--op-layer-important) - 1000);

	> .container {
		position: relative;
	}
	
	.container__logo {
		.logo {
			height: 50px;

			&__group {
				
			}
			&__n {
				stroke-width: 0;
				stroke: black;
				fill: black;
			}
			&__d {
				stroke-width: 0;
				stroke: white;
				fill: white;
			}
		}
	}
}
