@use "../abstracts/nns_functions" as *;
@use "../_sg78/sg78_mixins" as *;

.progress {
	position: fixed;
	inset: 0 0 auto;
	width: 0%;
	height: 0.25rem;
	z-index: svar(--op-layer-important);
	transform-origin: left;
	//background-color: hsla(78, 90%, 57%, 78%);
	background-color: var(--core-colors-color-2);
}
.bg-day {
	//background-color: hsl(164, 100%, 93%);
	background-color: hsl(201, 54%, 69%);
	width: 100%;
	height: 100%;
	position: absolute;
}

progress {
	position: fixed;
	top: 0;
	left: 0;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;

	width: 100%;
	height: 0.25rem;
	
	background-color: transparent;
	z-index: svar(--op-layer-important);

	&[value]::-moz-progress-bar,
	&[value]::-webkit-progress-bar,
	&[value]::-moz-progress-value,
	&[value]::-webkit-progress-value {
		background-color: black;
	}	
}

.grid__area--header {
	position: sticky;
	top: 0;
	z-index: calc(svar(--op-layer-important) - 1000);

	> .container {
		position: relative;
	}

	.container__logo {
		.logo {
			height: 35px;

			&__group {
			}
			&__n {
				stroke-width: 0;
				fill: white;
			}
			&__d {
				stroke-width: 0;
				fill: white;
			}
		}
	}
}
